<section class="container-prices">
  <div class="container-products-description">
    <h3>Sneaker Company</h3>
    <h1>Fall Limited Edition Sneakers</h1>
    <p>
      These low-profile sneakers are you perfect casual wear companion.
      Featuring a durable rubber outer sole, they'll withstand everything the
      weather can offer.
    </p>
  </div>
  <div class="layout-price">
    <div class="price-percentage">
      <h3>$125.00</h3>
      <div class="percentage">
        <p>50%</p>
      </div>
    </div>
    <p>$250.00</p>
  </div>
  <div class="layout-quantity">
    <div class="quantity-products">
      <div class="icon-minus">
        <img src="/logo/icon-minus.svg" alt="minus" />
      </div>
      <p class="quantity">0</p>
      <div class="icon-plus"><img src="/logo/icon-plus.svg" alt="plus" /></div>
    </div>
    <button><img src="/logo/icon-cart.svg" alt="cart" />Add to cart</button>
  </div>
</section>
