*,
*::after,
*::before {
  box-sizing: border-box;
}

.header-container {
  padding-block: var(--padding-header-mobile);
  max-block-size: 40px;
  max-inline-size: var(--max-inline-size-value);
  margin: auto;
  border-bottom: thin solid
    hsl(from var(--neutral-dark-grayish-blue) h s l / 0.5);
  position: relative;
}

@media screen and (width < 768px) {
  .header-container {
    padding-inline: var(--padding-value);
  }
}
@media screen and (width > 768px) {
  .header-container {
    padding-block: var(--padding-header-desktop);
  }
}

.icon-cart {
  position: relative;
}

.quantity-buy {
  background-color: var(--primary-orange);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  inline-size: 15px;
  block-size: 5px;
  border-radius: 10px;
  position: absolute;
  inset-block-start: -5px;
  inset-inline-end: -5px;
  & > p {
    font-size: 10px;
    color: var(--neutral-white);
  }
}

.icon-cart img {
  inline-size: 30px;
}

.icon-avatar img {
  inline-size: 40px;
}

.layout-icons {
  display: flex;
  align-items: end;
  column-gap: (--value-gap);
  & ul {
    box-sizing: border-box;
    display: flex;
    align-items: end;
    margin: 0;
    list-style-type: none;
    column-gap: var(--value-gap);
    & li {
      align-self: end;
      cursor: pointer;
      color: var(--neutral-dark-grayish-blue);
    }
  }
}

:is(.header-container, .container-icons, .container-user) {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-icons img:last-child {
  inline-size: var(--inline-size-sneakers);
}

.container-icons img:first-child {
  align-self: end;
}

.container-user,
.container-icons {
  column-gap: 15px;
}

:is(.container-icons img:first-child, .container-user img:first-child) {
  cursor: pointer;
}

.cart-container {
  position: absolute;
  inset-block-start: 90px;
  inset-inline: 0;
  margin: auto;
  border-radius: 10px;
  background-color: var(--neutral-white);
  box-shadow: 1px 5px 15px 2px hsl(from var(--neutral-black) h s l / 0.1);
  margin-inline: var(--padding-value);
  & > div:first-child {
    padding-inline: var(--padding-value);
    border-block-end: thin solid hsl(from var(--neutral-black) h s l / 0.1);
  }
  & > div:last-child {
    padding: var(--padding-value);
    align-content: center;
    & > p {
      text-align: center;
      color: var(--neutral-grayish-blue);
      font-weight: bold;
    }
  }
}

@media screen and (width > 768px) {
  .cart-container {
    inset-inline: auto 0;
    max-inline-size: 500px;
    min-inline-size: 500px;
  }
}

.container-product-and-price {
  display: flex;
  flex-direction: column;
  row-gap: var(--value-gap);
  & button {
    flex: 1;
    padding: var(--padding-value);
    border-radius: var(--border-radius);
    font-weight: bold;
    font-size: var(--font-size-value);
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    border: none;
    background-color: var(--primary-orange);
    cursor: pointer;
  }
}

.container-icon img {
  inline-size: 20px;
}

.container-image-product {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 20px;
  & > img {
    inline-size: 60px;
    border-radius: 5px;
  }
}
