@import url("reset.css");

@font-face {
  font-family: "League Spartan";
  src: url("/font/LeagueSpartan-Regular.ttf") format("truetype"),
    url("/font/LeagueSpartan-SemiBold.ttf") format("truetype");
}

:root {
  /**** background ****/
  --primary-orange: hsl(26deg 100% 55%);
  --primary-pale-orange: hsl(25deg 100% 94%);

  --neutral-very-dark-blue: hsl(220deg 13% 13%);
  --neutral-dark-grayish-blue: hsl(219deg 9% 45%);
  --neutral-grayish-blue: hsl(220deg 14% 75%);
  --neutral-light-grayish-blue: hsl(223deg 64% 98%);
  --neutral-white: hsl(0deg 0% 100%);
  --neutral-black: hsl(0deg 0% 0% / 75%);
  --transparent: rgb(from var(--neutral-very-dark-blue) r g b / 0.8);

  /**** configuración fuentes ****/
  --font-size-value: 16px;
  --font-size-value-sidebar: 20px;
  --regular: 400;
  --bold: 600;
  --font-family-value: "League Spartan";

  --padding-value: 20px;

  --inline-size-sneakers: 140px;
  --max-inline-size-value: 1000px;

  --border-radius: 15px;

  --value-gap: 18px;
  --padding-header-mobile: 20px;
  --padding-header-desktop: 30px;
}

body {
  font-family: var(--font-family-value), sans-serif;
  font-size: var(--font-size-value);
  font-weight: var(--regular);
}

@media screen and (width > 768px) {
  body {
    padding-inline: var(--pading-value);
  }
}
